*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    background-color: blue;
    color: white;
    height: 40px;
    width: 60px;
}

input{
    height: 40px;
    width: 200px;
    background-color: rgb(234, 222, 222);
    font-weight: bold;
    text-align: center;
}

div{
    margin: 20px 300px;
}